<p><h3>Your triangle's first side is $myTriangle.getLength1()</h3></p>
<p><h3>Your triangle's second side is $myTriangle.getLength2()</h3></p>
<p><h3>Your triangle's third side is $myTriangle.getLength3()</h3></p>


  <p><h3>Your triangle is $result</h3></p>
